@import '../../styles/variables';

.option__wrap {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.agreement {
  text-align: right;

  &__link {
    text-decoration: none;
    color: var(--secondary-color);
  }

  &__checkbox {
    cursor: pointer;
  }

  &__checkbox>input {
    position: absolute;
    z-index: -1;

    opacity: 0;
  }

  &__checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  &__checkbox>span::before {
    content: '';

    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $grey-color;
    border-radius: 0.25em;
    margin-right: 0.5em;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  &__checkbox>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: $brand-color-light;
  }

  &__checkbox>input:not(:disabled):active+span::before {
    border-color: $brand-color-light;

    background-color: $brand-color-light;
  }

  &__checkbox>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem #ff007740;
  }

  &__checkbox>input:focus:not(:checked)+span::before {
    border-color: $brand-color;
  }

  &__checkbox>input:checked+span::before {
    border-color: $brand-color;

    background-color: $brand-color;
    background-size: 8px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }

  &__checkbox>input:disabled+span::before {
    background-color: $grey-color--lightX1;
  }
}
