.sort {
  &__wrap {
    display: flex;
    max-width: 300px;
  }

  &__btn {
    padding: 12px;
    border: 1px solid transparent;

    line-height: 1;

    transition: all 0.2s ease;

    &--left {
      border-right: none;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    &--center {
      border-left: none;
      border-right: none;
    }

    &--right {
      border-left: none;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}
