@import '../../styles/variables';

.file {
  &__wrap{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
  }

  &__label {
    position: relative;

    display: block;
    padding: 10px;
    border: 1px solid var(--primary-color);

    font-size: 18px;
    font-weight: 500;

    transition: all 0.2s linear;
    cursor: pointer;
  }

  &__label::after {
    content: 'Doc/xls/pdf/jpg/zip/rar < 25 Mb';
    position: absolute;
    left: 0;
    bottom: -37px;

    font-size: 14px;
    color: var(--secondary-color);

    visibility: hidden;
    transition: all .2s linear;
  }

  &__label:hover::after {
    visibility: visible;
  }

  &__label:hover {
    border-color: $brand-color;

    color: $white-color;

    background: $brand-color;
  }

  &__label::before {
    content: '+';
    position: absolute;
    right: 10px;
    top: 40%;

    width: 10px;
    height: 10px;

    font-size: 18px;
    color: $brand-color;
    line-height: 1;
    font-weight: 600;

    transform: translate(-50%, -50%);
    transition: all .2s linear;
  }

  &__label:hover::before {
    color: $white-color;
  }
}

