@import "variables";

html {
	box-sizing: border-box;
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

* {
	box-sizing: inherit;
	outline: none;
}

::before {
	box-sizing: inherit;
	outline: none;
}

::after {
	box-sizing: inherit;
	outline: none;
}

h1 {
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	margin-top: 0;
	margin-bottom: 0;
}

h3 {
	margin-top: 0;
	margin-bottom: 0;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

:root {
	font-size: 10px;
}

input {
	font-family: 'Roboto';
	&:focus {
		outline: none;
	}
}

body {
	position: relative;

	margin: 0;
	padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: $black-color;

	background-color: $white-color;

	user-select: none;
	-webkit-font-smoothing: antialiased;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);

	&:not(:focus) {
		&:not(:active) {
			position: absolute;
			width: 1px;
			height: 1px;
			margin: -1px;
			border: 0;
			padding: 0;
			white-space: nowrap;
			clip-path: inset(100%);
			clip: rect(0 0 0 0);
			overflow: hidden;
		}
	}
}
.reset-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.wrapper {
	min-width: 320px;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 50px;
}

.container {
	width: 100%;
	max-width: 1278px;
	margin: 0 auto;
	padding: 0 15px;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background: $grey-color;
  border-right: 4px $white-color solid;
  background-clip: padding-box;
	border-radius: 5px;
}


.page {
  position: absolute;
}

.page-enter-active {
  animation: fade-in 1s forwards;
}

.page-exit-active {
  animation: fade-out 1s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
