$brand-color: #FF385C;
$brand-color-light: #ff00aa;
$white-color: #ffffff;
$grey-color: #adb5bd;
$grey-color--light: #DDDDDD;
$grey-color--dark: #717171;
$black-color: #222222;
$black-color--light: #00000080;
$black-color--lightX0: #00000018;
$black-color--lightX1: #00000005;
