$white-color: #ffffff;
$black-color: #222222;
$grey-color--light: #DDDDDD;
$black-color--light: #00000080;
$black-color--lightX0: #00000018;
$black-color--lightX1: #00000005;
$green-color-light: #47ffa5d4;
$green-color-dark: #47ffa56b;
