@import "../../styles/variables";

.apartment__wrap {
	grid-area: apartment;
}
.apartment__grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.apartment__item {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 500px;
}

.apartment__image {
	min-width: 300px;
	border-radius: 12px;
	border-radius: 12px;
	max-height: 230px;
	min-height: 230px;

	overflow: hidden;
	img {
		border-radius: 12px;
    height: 100%;
    width: 100%;

    object-fit: cover;
	}
}

.apartment__info {
	position: relative;

	max-width: 500px;
	min-width: 300px;
	padding: 15px 15px 40px;
}

.apartment__name {
	margin-bottom: 15px;

	color: $grey-color--dark;
	font-weight: 400;
}

.apartment__description {
	margin-bottom: 15px;
}

.optional {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	margin-bottom: 15px;

	line-height: 1.2;
	color: $grey-color--dark;
}

.apartment__subDescription {
	position: absolute;
	bottom: 15px;

	display: flex;
	justify-content: flex-end;
	width: 100%;
	max-width: 470px;
}

.apartment__price {
	margin-left: auto;
	padding-right: 30px;

	color: $grey-color--dark;
	font-weight: 400;
}

.apartment__rating {
	position: relative;
	padding-left: 20px;

	font-weight: 600;

	&::before {
		content: '\2605';
		position: absolute;
		left: 0;
		top: 40%;

		font-size: 20px;
		line-height: 1;
		color: $brand-color;

		transform: translateY(-50%);
	}
}

.apartment__reviews {
	color: $grey-color--dark;
	font-weight: 400;
}

.apartment__num {
	font-size: 18px;
	font-weight: 600;
	color: $black-color;
}


@media only screen and (max-width: 1200px) {
  .apartment__grid {
    grid-template-columns: 1fr;
  }

  .apartment__item {
    margin: 0 auto;
  }
}
