@import '../../styles/variables';

.card {
  &__wrap {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 880px;
    padding: 15px;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    border: 1px solid var(--primary-color);
    margin-bottom: 30px;

    color: var(--primary-color);

    box-shadow: 0 14px 28px $black-color--lightX0, 0 10px 10px $black-color--lightX1;
    overflow-x: hidden;
  }
}
