.output__wrap {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.article {
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  gap: 2rem;
  
  transition: all .2s linear;
  &__image {
    min-width: 300px;
  }
  &__description {
    max-width: 800px;
  }
  &:hover {
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  }
}

@media (max-width: 800px) {
  .output__wrap {
    margin-top: 10px;
  }

  .article {
    min-width: 300px;
    flex-wrap: wrap;
    &__image {
      margin: 0 auto;
    }
  }
}
